USERS_MS=https://seedyfiuba-back-users-v2.herokuapp.com/api               #This is the users microservice url to connect
PROJECTS_MS=https://seedyfiuba-back-projects-v2.herokuapp.com/api         #This is the projects microservice url to connect
SPONSORS_MS=https://seedyfiuba-back-sponsors-v2.herokuapp.com/api         #This is the sponsors microservice url to connect
PAYMENT_GTW_MS=https://seedyfiuba-back-paymentsgtw-v2.herokuapp.com/api   #This is the payments microservice url to connect
NOTIFICATIONS_MS=https://seedyfiuba-back-notifications.herokuapp.com/api  #This is the notifications microservice url to connect
FIREBASE_KEY={}     #This is the configuration object used to consume firebase admin utilities
FIREBASE_CLIENT={}  #This is the configuration object used to run tests with firebase
PORT=8081           #This is the port at which the server will be listening for connections
ENV=development     #This is the server environment mode, which can either be 'production' or 'development'
