USERS_MS=https://seedyfiuba-back-users.herokuapp.com/api
PROJECTS_MS=https://seedyfiuba-back-projects.herokuapp.com/api
SPONSORS_MS=https://seedyfiuba-back-sponsors.herokuapp.com/api
FIREBASE_KEY={}
FIREBASE_CLIENT={}
PORT=8081
ENV=development 

