USERS_MS=https://seedyfiuba-back-users-v2.herokuapp.com/api
PROJECTS_MS=https://seedyfiuba-back-projects-v2.herokuapp.com/api
SPONSORS_MS=https://seedyfiuba-back-sponsors-v2.herokuapp.com/api
PAYMENT_GTW_MS=https://seedyfiuba-back-paymentsgtw-v2.herokuapp.com/api
NOTIFICATIONS_MS=https://seedyfiuba-back-notifications.herokuapp.com/api
FIREBASE_KEY={}
FIREBASE_CLIENT={}
PORT=8081
ENV=development 

